.idea
.DS_Store
lubw.csv
lubw.geojson
luftdaten.csv
luftdaten.geojson
*_p10.geojson
*_p10_4326.geojson

# folders
config/
GrassLocation/
PERMANENT/
amandus/
project/webapp/node_modules
webapp/node_modules
project/scripts/luftdaten_backup.sql
report/schaubild.xlsx
report/~$port_butzer_kaeflein.docx
report/~$schaubild.xlsx
